html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(202, 198, 198);
    background-size: auto;
}

.section1{
    gap: 20px;
    padding: 10px;
    position: relative;
    margin: 20px 10px;
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 300px;
    height: 600px;
}

.section2{
    left: 340px;
    top: -640px;
    gap: 20px;
    padding: 10px;
    position: relative;
    margin: 20px 10px;
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 800px;
    height: 190px;
}

#HiFit{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}

#health {
    text-align: center;
    font-size: 20px;
}

#goal {
    text-align: center;
    font-size: 15px;
}

#frame1{
    left: 340px;
    top: -670px;
    gap: 20px;
    padding: 10px;
    position: relative;
    margin: 20px 10px;
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 380px;
    height: 380px;
}

#frame2{
    left: 760px;
    top: -1113px;
    gap: 20px;
    padding: 10px;
    position: relative;
    margin: 20px 10px;
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 380px;
    height: 380px;
}