
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: gray;
}

.container{
    display: flex;
    flex-direction: row;
    margin:auto;
    justify-content: center;
    align-content: center;
    max-width:1300px;
}
.form, .progress{
    background-color: lightgray;
    margin: 20px;
    padding:15px;
}

.form{
    flex:1 0 200px;
}

.progress{
    flex:3 0 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos{
    display: flex;
    justify-content: stretch;
    flex-grow: 3;
}

.bar{
    flex-grow: 1;
}

#frame1, #frame2{
    width:100%;
    height:100%;
    margin:5px;
}

#HiFit{
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}

#health {
    text-align: center;
    font-size: 20px;
}

.section1{
    gap: 20px;
    padding: 10px;
    position: relative;
    margin: 20px 10px;
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 300px;
    height: 600px;
}

.section2{
    left: 340px;
    top: -640px;
    gap: 20px;
    padding: 10px;
    position: relative;
    margin: 20px 10px;
    background-color: rgb(243, 239, 239);
    border-radius: 10px;
    width: 800px;
    height: 190px;
}

